body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px; /* Establece el ancho deseado */
}

.Login, .Record {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: start;
    width: 100%; /* Hace que ambos divs tengan el mismo ancho */
    box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */
}

h2 {
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

label {
    display: block;
    margin: 10px 0;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="button"] {
    background-color: #3083c7;
    color: #fff;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #3083c7;
}
